@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Página Inicial";
}

<h1 class="display-4">Encontre oque você precisa aqui.</h1>
<button type="button" class="btn btn-primary btn-lg">Iniciar Pesquisa</button>
