@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Página Inicial";
}

<h1 class="display-4">Bem-vindo ao Ecommerce!</h1>
<p class="lead">Explore os imóveis e pedidos com estilo.</p>
